<div class="row">
    <div class="col-sm-12">
        <div id="advanced-form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Theses.Subject'"></label>
                            <input [(ngModel)]="filter.thesisName" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Theses.PartΟfΤheΤitle' | translate }}">
                        </div>
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Theses.Student'">Student</label>
                            <input [(ngModel)]="filter.studentName" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Theses.Name' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                        <div class="form-group col-xl-3 col-md-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="searchText" [translate]="'Theses.AEM'"></label>
                                <input [(ngModel)]="filter.studentIdentifier" spellcheck="false" type="text" id="searchText"
                                    name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Theses.AEM' | translate }}">
                            </div>
                        </div>
                        <div class="form-group col-xl-3 col-md-6">
                            <most-data #startYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'">
                            </most-data>
                            <div class="d-flex flex-row w-100" *ngIf="startYears.value">
                                <label class="pr-3" for="selectBox" [translate]="'Theses.StartYear'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.startYearId">
                                    <option [ngValue]="undefined" [translate]="'Theses.Choose'"></option>
                                    <option *ngFor="let item of startYears.value" [ngValue]="item.id"
                                        [translate]="item.alternateName"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-3 col-md-6">
                            <most-data #academicPeriods [model]="'AcademicPeriods'"></most-data>
                            <div class="d-flex flex-row w-100" *ngIf="academicPeriods.value">
                                <label class="pr-3" for="selectBox" [translate]="'Theses.StartPeriod'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.startPeriod">
                                    <option [value]="undefined" [translate]="'Theses.Choose'"></option>
                                    <option *ngFor="let item of academicPeriods.value" [value]="item.alternateName"
                                        [translate]="'Periods.' + item.alternateName">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-3 col-md-6">
                            <div class="d-flex flex-row w-100 justify-content-md-end">
                                <label class="pr-3" for="searchText" [translate]="'Theses.Instructor'"></label>
                                <input [(ngModel)]="filter.instructorName" spellcheck="false" type="text"
                                    id="searchText" name="searchText" class="form-control col-7 text-left"
                                    placeholder="{{ 'Theses.Name' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
