<form class="mt-3 collapsible-form ">
  <div class="row mt-1" *ngIf="model?.department">
    <div class="col-lg-12 col-md-6 col-sm-12">
      <div class="row">
        <div class="col-3">
          <div class="form-group text-dark">
            <label for="CourseDepartmentName" [translate]="'Courses.Department'"></label>
            <input [disabled]="true" class="form-control bg-white" id="CourseDepartmentName" name="CourseDepartmentName" type="text" [(ngModel)]="model.department && model.department.name">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group text-dark">
            <label for="fullName" [translate]="'Courses.instructorFullName'"></label>
            <input [disabled]="true" class="form-control bg-white" id="fullName" name="status" type="text" [(ngModel)]="model.instructor && model.instructor.familyName +' '+ model.instructor.givenName">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group text-dark">
            <label for="CourseAreaName" [translate]="'Courses.CourseArea'"></label>
            <input [disabled]="true" class="form-control bg-white" id="CourseAreaName" name="CourseAreaName" type="text" [(ngModel)]="model.courseArea && model.courseArea.name">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group text-dark">
            <label for="CourseSectorName" [translate]="'Courses.sectorName'"></label>
            <input [disabled]="true" class="form-control bg-white" id="CourseSectorName" name="CourseSectorName" type="text" [(ngModel)]="model.courseSector && model.courseSector.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group text-dark">
            <label for="CourseCategoryName" [translate]="'Courses.categoryName'"></label>
            <input [disabled]="true" class="form-control bg-white" id="CourseCategoryName" name="CourseCategoryName" type="text" [(ngModel)]="model.courseCategory && model.courseCategory.name">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
