<div class="row mt-4" *ngIf="model">

  <div class="col-lg-12 col-md-6 col-sm-12 mt-2">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Labels.GeneralLabel'"></span>
      </form-header>
      <form-body>
        <app-scholarships-preview-general-info-form [model]="model"></app-scholarships-preview-general-info-form>
      </form-body>
    </form-collapsible>
  </div>

</div>
