<div class="col-12 tab-navbar tab-container pl-0" *ngIf="model">
    <!-- <a class="text-decoration-none text-secondary font-lg" [routerLink]="['../../']">
      <i class="fa fa-chevron-left"></i> {{ 'Internships.Title' | translate }}
    </a> -->
    <div class="row">
      <div class="col-auto mr-auto">
        <!-- <h2 class="text-dark">({{'InternshipStatus.' + model.status?.alternateName | translate}}) <span></span></h2> -->
        <h2 class="text-dark">{{model.name}} <span></span></h2>
      </div>
    </div>
    <ul class="mt-2 nav nav-tabs d-flex">
      <li class="nav-item">
        <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Internships.General'" [routerLink]="['general']"
          [routerLinkActive]="'active'"></a>
      </li>
      <li class="nav-item tab-buttons disabled ml-auto">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group">
          </div>
        </div>
      </li>
    </ul>
  
    <router-outlet></router-outlet>
  
  </div>
