<div>
  <div class="row">
    <div class="col-12" [ngVar]="{instructorID: instructorID}" #filter="ngVar">
      <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="classes">
        <advanced-search>
          <app-instructors-classes-advanced-table-search [(filter)]="filter.value"></app-instructors-classes-advanced-table-search>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #classes [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>
</div>
