<div class="row">
    <div class="col-sm-12">
        <div id="advanced-form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Exams.CourseName'"></label>
                            <input [(ngModel)]="filter.courseName" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Exams.CourseName' | translate }}">
                        </div>
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Exams.DisplayCode'"></label>
                            <input [(ngModel)]="filter.displayCode" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Exams.DisplayCode' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #courseExamStatuses [model]="'CourseExamStatuses'"></most-data>
                            <div class="d-flex flex-row w-100" *ngIf="courseExamStatuses.value">
                                <label class="pr-3" for="selectBox" [translate]="'Exams.Status'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.status">
                                    <option [value]="undefined" [translate]="'Exams.Choose'"></option>
                                    <option *ngFor="let item of courseExamStatuses.value" [value]="item.alternateName"
                                        [translate]="'ExamStatus.'+ item.alternateName"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #academicYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'">
                            </most-data>
                            <div class="d-flex flex-row w-100" *ngIf="academicYears.value">
                                <label class="pr-3" for="selectBox" [translate]="'Exams.Year'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.yearId">
                                    <option [ngValue]="undefined" [translate]="'Exams.Choose'"></option>
                                    <option *ngFor="let item of academicYears.value" [ngValue]="item.id"
                                        [translate]="item.alternateName"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #ExamPeriods [model]="'ExamPeriods'"></most-data>
                            <div class="d-flex flex-row w-100" *ngIf="ExamPeriods.value">
                                <label class="pr-3" for="selectBox" [translate]="'Exams.Period'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.examPeriod">
                                    <option [value]="undefined" [translate]="'Exams.Choose'"></option>
                                    <option *ngFor="let item of ExamPeriods.value" [value]="item.name"
                                        [translate]="item.name"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
