<div class="row" *ngIf='StudentPeriodRegistration'>

  <div class="col-lg-8 col-md-8 tab-navbar tab-container">
    <a class="text-decoration-none text-secondary font-lg" [routerLink]="['../../']">
      <i class="fa fa-chevron-left"></i> {{ 'Sidebar.Registrations' | translate }}
    </a>

    <div class="row pt-4 pb-2">
        <div class="col-auto mr-auto">
            <h2 class="text-secondary">{{ RegistrationTitle }} <span></span></h2>
        </div>
      </div>

  </div>

  <div class="col-lg-4  col-md-4">
    <div class="row">
      <div class="col-lg-6">
        <button type="button" class="btn btn-light col-lg-12" [translate]="'Registrations.Buttons.Edit'"></button>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn btn-light col-lg-12" [translate]="'Registrations.Buttons.Submit'"></button>
      </div>
    </div>
    <div class="row pt-4 pb-2">
        <div class="col-12 text-secondary text-right">
          {{ 'Registrations.Status' | translate }}: {{ 'RegistrationStatus.' + StudentPeriodRegistration.status.alternateName | translate }}
        </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-10">
        <ul class="mt-3 nav nav-tabs d-flex">
          <li class="nav-item">
            <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Registrations.TabsInfo.viewTitle'" [routerLink]="['general']"
              [routerLinkActive]="'active'"></a>
          </li>
          <li class="nav-item">
              <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Registrations.TabsInfo.historyTitle'" [routerLink]="['history']"
                [routerLinkActive]="'active'"></a>
            </li>
          <li class="nav-item tab-buttons disabled ml-auto">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group mr-2" role="group">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-2"></div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>

