<div *ngIf="model">
  <div class="card" *ngIf="model.length > 0">
    <div class="card-body ">
      <div>
        <a href="/#/instructors/{{this.id}}/dashboard/classes"  class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Instructors.Classes'" class="mr-3 my-auto"></h5>
          <div class="text-gray-600 align-self-center col-auto font-xs pt-1 pl-1">
            <span [translate]="'Instructors.AcademicYear'"> </span>
            {{model[0]?.year?.alternateName}} -  {{'Periods.' + model[0]?.period?.alternateName | translate}}
          </div>
        </div>
      </div>
      <div id="group-list"  class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-md-block " [translate]="'Classes.ClassTitle'"></div>
              <div class="sis--list-group-item_sm_column d-none d-md-block px-4" [translate]="'Classes.DisplayCode'"></div>
              <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Classes.DepartmentName'"></div>
              <div class="sis--list-group-item_sm_column d-none d-lg-block" [translate]="'Instructors.Status'"></div>
              <div class="sis--list-group-item_sm_column text-left"></div>`
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let currentClasses of model">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column text-truncate"><span class="text-dark">{{ currentClasses?.course?.name }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="text-secondary">{{ currentClasses?.course?.displayCode }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ currentClasses?.course?.department?.abbreviation }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block text-center"><span [ngClass]="currentClasses?.status?.alternateName === 'new' ?'text-color-theme': currentClasses?.status?.alternateName === 'open' ?'open-grade': 'text-dark'" >{{'ClassStatuses.' +  currentClasses?.status?.alternateName | translate }}</span></div>
              <div class="sis--list-group-item_sm_column text-right">
                <a href="/#/classes/{{currentClasses.id}}/preview/general" class="text-primary text-decoration-none"
                   [translate]="'Instructors.View'"></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-4 mb-3 text-left text-gray-600 font-xs ">
        <span>{{ model?.length}} <span [translate]="'Instructors.Classes'"></span></span>
      </div>
    </div>
  </div>
  <div *ngIf="model.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Instructors.Classes'"></h5>
        <a href="/#/instructors/{{this.id}}/dashboard/classes"  class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Instructors.NoClasses'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
