<div class="row mt-4" *ngIf="department">

  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Departments.TabsInfo.viewTitle'"></span>
      </form-header>
      <form-body>
        <form class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-6">
              <div class="form-group text-dark">
                <label for="departmentname" [translate]="'Departments.ListTable.Name'"></label>
                <input [disabled]="true" class="form-control bg-white" id="departmentname" name="departmentname"
                  type="text" [value]="department.name">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group text-dark">
                <label for="facultyname" [translate]="'Departments.ListTable.facultyName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="facultyname" name="facultyname" type="text"
                  [value]="department.facultyName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Departments.ListTable.ID'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
                  [value]="department.abbreviation">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="semesters" [translate]="'Departments.ListTable.Semesters'"></label>
                <input [disabled]="true" class="form-control bg-white" id="semesters" name="semesters" type="text"
                  [value]="department.totalSemesters">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studylevel" [translate]="'Departments.ListTable.StudyLevel'"></label>
                <div *ngIf="department.studyLevel; else noStudyLevel">
                  <input [disabled]="true" class="form-control bg-white" id="studylevel" name="studylevel" type="text"
                    [value]="'StudyLevels.' + department.studyLevel.alternateName | translate">
                </div>
                <ng-template #noStudyLevel>
                  <input [disabled]="true" class="form-control bg-white" id="nam" type="text">
                </ng-template>
              </div>
            </div>
          </div>
        </form>
      </form-body>
    </form-collapsible>
  </div>
</div>

<div class="row mt-4" *ngIf="department">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Departments.ListTable.ContactDetails'"></span>
      </form-header>
      <form-body>
        <form class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="contactperson1" [translate]="'Departments.ContactsInfo.contactPerson'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="contactperson1" type="text"
                  [value]="department.contactPerson1">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="contactperson2" [translate]="'Departments.ContactsInfo.alternateContactPerson'"></label>
                <input [disabled]="true" class="form-control bg-white" id="contactperson2" name="contactperson2"
                  type="text" [value]="department.contactPerson2">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="phone1" [translate]="'Departments.ContactsInfo.phone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="phone1" name="phone1" type="text"
                  [value]="department.phone1">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="phone2" [translate]="'Departments.ContactsInfo.alternatePhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="phone2" name="phone2" type="text"
                  [value]="department.phone2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email">Email</label>
                <input [disabled]="true" class="form-control bg-white" id="email" name="email" type="text"
                  [value]="department.email">
              </div>
            </div>
          </div>
        </form>
      </form-body>
    </form-collapsible>

  </div>

</div>