<div>
  <h4 class="mb-3">FormIO Textfield</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioTextfieldConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioTextfieldConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Email field</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioEmailConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioEmailConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Number</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioNumberConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioNumberConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Phone Number</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioPhoneNumberConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioPhoneNumberConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Date picker</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioDateConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioDateConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Radio Buttons</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioRadioConfig"></formio>
    </div>
  </div>
</div>
 
<div><code><pre id="formioRadioConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Checkbox</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioCheckboxConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioCheckboxConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Basic Html5 dropdown list</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioSelectHtml5Config"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioSelectHtml5Config"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO dropdown list with search field using ChoiceJS</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioSelectChoicesJSConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioSelectChoicesJSConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Tooltip</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioTooltipConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioTooltipConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO description for an element</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioDescriptionConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioDescriptionConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Layout Columns</h4>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <formio #form [form]="formioLayoutColumnsConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioLayoutColumnsConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Layout Fieldsets</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioLayoutFieldsetConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioLayoutFieldsetConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Required validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationSimpleConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioValidationSimpleConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO Number Validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationNumberConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioValidationNumberConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO min-max Number Validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationMinMaxNumberConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioValidationMinMaxNumberConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO masking input</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationMaskNumberConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioValidationMaskNumberConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO validation using regular expressions</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationRegExpConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioValidationRegExpConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO custom validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationCustomConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioValidationCustomConfig"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO disabled for input</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidateDisabledInput"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioValidateDisabledInput"></pre></code></div>

<div>
  <h4 class="mb-3">FormIO styling custom css class</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioStyleCustomClassConfig"></formio>
    </div>
  </div>
</div>

<div><code><pre id="formioStyleCustomClassConfig"></pre></code></div>
