<div *ngIf="model">
  <div *ngIf="model.length != 0">
    <div class="row mt-2" *ngFor="let scholar of model">
      <div class="col-12">
        <card-collapsible>
          <card-header>
            <span *ngIf="scholar.scholarship" [translate]="'Scholarships.ScholarshipType.' + scholar.scholarship.scholarshipType.alternateName"></span>
            <span>&nbsp;</span>
            -
            <span *ngIf="scholar.scholarship.status || scholar.scholarship.status ===0; else noStatus" [translate]="'Scholarships.StatusAlternateName.' + scholar.scholarship.status.alternateName"
                  [ngClass]="scholar.scholarship.status.alternateName === 'open' ?'open-grade': 'text-danger'"></span>
            <span>&nbsp;</span>
            <ng-template #noStatus><span [translate]="'Scholarships.StatusAlternateName.NoStatus'"></span></ng-template>
          </card-header>
          <card-body>
            <app-scholarships-preview-general-info-form [model]="scholar.scholarship"></app-scholarships-preview-general-info-form>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <a href="#/scholarships/{{scholar?.scholarship.id}}/preview/general" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
              </div>
            </div>
          </card-body>

        </card-collapsible>
      </div>
    </div>
  </div>
  <div *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <p class="card-text"  [translate]="'Scholarships.NoScholarship'"></p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
