<div *ngIf="model">
  <div class="card" *ngIf="model?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Courses.General'"></h5>
      <a href="#/courses/{{this.courseId}}/general" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          {{model?.name}}
        </div>
      </div>
      <div class="card-text row">
        <div class="col-12 col-md-6 text-secondary">
          <span> {{'Courses.IsEnabled.' + model?.isEnabled  | translate }}</span>
        </div>
      </div>
      <div class="row  mt-3">
        <div class="col-6">
          <button type="button" class="mr-0 ml-0 btn btn-outline-secondary  text-secondary btn-more btn-block text-truncate"><i class="fa fa-flag-checkered pr-2"></i> <span
            [translate]="'Courses.Elearning'"></span></button>
        </div>
        <div class="col-6">
          <button type="button" class="mr-0 ml-0 btn btn-outline-secondary  text-secondary btn-more btn-block text-truncate"><i class="fa fa-flag-checkered pr-2"></i> <span
            [translate]="'Courses.StudyGuide'"></span></button>
        </div>
      </div>
    </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.displayCode'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.displayCode}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.instructorFullName'"></span>
        </div>
        <div class="col-7 text-dark">
          <a href="#/instructors/{{this.model?.instructor?.id}}/dashboard/overview">  {{model?.instructor?.givenName}} {{model?.instructor?.familyName}}</a>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.units'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.units}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.ects'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.ects}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.Department'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.department?.abbreviation}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.Shared'"></span>
        </div>
        <div class="col-7 text-dark">
          <span> {{'Courses.IsShared.' + model?.isShared  | translate }}</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <a  href="#/courses/{{this.courseId}}/general" class="btn btn-md bg-color-theme text-light w-50 mt-2" [translate]="'Courses.Edit'"></a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="model?.length == 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Courses.General'"></h5>
      <a href="#/courses/{{this.courseId}}/general" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          <span [translate]="'Courses.NoGeneralInfo'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
