<form  class="mt-3 collapsible-form ">
  <div class="row">
    <div class="col-12">
      <div class="form-group text-dark">
        <label for="name" [translate]="'Theses.Subject'"></label>
        <input [disabled]="true" class="form-control bg-white" id="name" name="name" type="text" [(ngModel)]="model.name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="type" [translate]="'Theses.ThesisType.type'"></label>
        <input [disabled]="true" class="form-control bg-white" id="type" name="type" type="text" [value]="'Theses.ThesisType.' + model.type.alternateName | translate">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="about" [translate]="'Theses.ThesisAbout'"></label>
        <input [disabled]="true" class="form-control bg-white" id="about" name="about" type="text" [(ngModel)]="model.subject">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="overseer" [translate]="'Theses.Overseer'"></label>
        <div *ngIf="model.instructor; else noInstructor">
        <input [disabled]="true" class="form-control bg-white" id="overseer" name="overseer" type="text" [(ngModel)]="model.instructor.familyName + ' ' + model.instructor.givenName">
      </div>
        <ng-template #noInstructor>
          <input [disabled]="true" class="form-control bg-white" id="overseer" name="overseer" type="text">
        </ng-template>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="status" [translate]="'Theses.ThesisStatus.status'"></label>
        <div *ngIf="model.status; else noStatus">
        <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="'Theses.ThesisStatus.' + model.status.alternateName | translate">
      </div>
        <ng-template #noStatus><input [disabled]="true" class="form-control bg-white" id="nam" type="text"></ng-template>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="assignedDate" [translate]="'Theses.AssignedDate'"></label>
        <input [disabled]="true" class="form-control bg-white" id="assignedDate" name="assignedDate" type="text" [value]="model.startDate | date:'shortDate'">
      </div>
    </div>

    <div class="col-3">
      <div class="form-group text-dark">
        <label for="deliveredDate" [translate]="'Theses.DeliveredDate'"></label>
        <input [disabled]="true" class="form-control bg-white" id="deliveredDate" name="deliveredDate" type="text" [value]="model.endDate | date:'shortDate'">
      </div>
    </div>
    <div class="col-3">
    <div class="form-group text-dark">
      <label for="examDate" [translate]="'Theses.ExamDate'"></label>
      <input [disabled]="true" class="form-control bg-white" id="examDate" name="examDate" type="text" [value]="model.examDate | date:'shortDate'">
    </div>
  </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="formattedGrade" [translate]="'Theses.Grade'"></label>
        <input [disabled]="true" class="form-control bg-white" id="formattedGrade" name="formattedGrade" type="text"
               [value]="model.formattedGrade" [ngClass]="{
                                'text-success': model.isPassed === 1,
                                'text-danger': model.isPassed === 0}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="ects" [translate]="'Theses.ECTS'"></label>
        <input [disabled]="true" class="form-control bg-white" id="ects" name="ects" type="text" [(ngModel)]="model.ects">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="coefficient" [translate]="'Theses.Coefficient'"></label>
        <input [disabled]="true" class="form-control bg-white" id="coefficient" name="coefficient" type="text" [(ngModel)]="model.coefficient">
      </div>
    </div>
  </div>
</form>
