<div class="row" *ngIf="data">
  <div class="pt-2">
    <div class="col-12">
      <h2 class="text-secondary">{{ data.name }} <span></span></h2>
    </div>
  </div>
</div>
<div class="row" *ngIf="data">
  <div class="col-12">
    <div class="row mt-2 mb-2">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12 col-md-6 col-sm-12">
              <div>
                <app-advanced-form-edit #form [data]="data" [formName]="src" ></app-advanced-form-edit>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
